body{
    margin:0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #dca296;
    height: 60px;

}

header h1{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.test{
}